div {
    margin: 0;
    padding: 0;
    background: white;
    width: 21cm;
    min-height: 29.7cm;
    padding: 2cm;
    margin: 1cm auto;
    border: 1px #d3d3d3 solid;
    border-radius: 5px;
    background: white; 
}
body {background: grey;}
    h1 {color: black;}
    p {margin: 20px;}

page {
    background: white;
    display: black;
    margin: auto;
    margin-bottom: 0.5cm;
    box-shadow: 0 0 0.5cm rgb(0, 0, 0, 0.5);
}

img {
    width: 300px;
    height: 300px;
}

.cvpage {
    column-count: 2;
    column-width: 30px + 70px;
    column-rule-style: groove;
} 
